.normalSlightLabel {
    .normalSlightLabelData {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42.26px;
        color: #e7e7e7;
    }
}
