.bigBoldLabel {
    .bigBoldLabelData {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 144px;
        line-height: 169px;
        color: #e7e7eb;
    }
}

