.smallSlightLabel {
  .smallSlightLabelData {
    width: 30px;
    height: 19px;
    left: 828px;
    top: 288px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #a09fb1;
  }
}
