.bigSlightLabel {
    .bigSlightLabelData {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 100;
        font-size: 48px;
        line-height: 56.35px;
        color: #a09fb1;
    }
}
