/* reset css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#wrapper {
}
#header {
}
#container {
}
#footer {
}

.NameHeader {
  position: absolute;
  width: 278px;
  height: 47px;
  left: 243px;
  top: 110px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;

  color: #000000;
}

.title {
  position: absolute;
  width: 122px;
  height: 27px;
  left: 736px;
  top: 110px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-transform: uppercase;

  color: #000000;
}
.content {
  position: absolute;
  width: 439px;
  height: 87px;
  left: 736px;
  top: 147px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.img {
  position: absolute;
  width: 238px;
  height: 426.5px;
  left: 245px;
  top: 244.5px;

  background: url(image.png);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.name_img1 {
  position: absolute;
  width: 117px;
  height: 27px;
  left: 240px;
  top: 686px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.role-author1 {
  position: absolute;
  width: 103px;
  height: 16px;
  left: 453px;
  top: 291px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;

  color: #000000;

  transform: rotate(90deg);
}


.name_img2{
    position: absolute;
width: 128px;
height: 27px;
left: 571px;
top: 791px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;

}